function Movement.goDown 0
push constant 1
push argument 0
add
pop pointer 1
push that 0
push constant 20
add
push constant 254
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
push argument 0
add
push constant 1
push argument 0
add
pop pointer 1
push that 0
push constant 2
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push argument 0
return
function Movement.goUp 0
push constant 1
push argument 0
add
pop pointer 1
push that 0
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
push argument 0
add
push constant 1
push argument 0
add
pop pointer 1
push that 0
push constant 2
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push argument 0
return
function Movement.goLeft 0
push constant 0
push argument 0
add
pop pointer 1
push that 0
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
push argument 0
add
push constant 0
push argument 0
add
pop pointer 1
push that 0
push constant 2
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push argument 0
return
function Movement.goRight 0
push constant 0
push argument 0
add
pop pointer 1
push that 0
push constant 20
add
push constant 510
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
push argument 0
add
push constant 0
push argument 0
add
pop pointer 1
push that 0
push constant 2
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push argument 0
return
